.button {
  @include reset-button;

  display: inline-flex;
  align-items: center;
  height: var(--button-height);
  padding-inline: 52px;
  background-color: var(--ui-base);
  border-radius: var(--border-radius);
  transition: background-color .2s;

  @include mobile {
    height: 32px;
  }

  &:focus-visible {
    outline: 1px solid var(--ui-focus);
    outline-offset: 3px;
  }

  @include hover {
    background-color: var(--ui-hover);
  }

  &:active {
    background-color: var(--ui-active);
  }

  &--small {
    padding-inline: 33px;
  }

  &--large {
    height: 46px;
    padding-inline: 47px;
    font-size: 21px;
  }
}