.catalog-card {
  display: flex;
  flex-direction: column;
  border: var(--border);
  border-radius: var(--border-radius);

  &--large {
    position: relative;
    grid-column: 2 span;
    justify-content: flex-end;
    height: 353px;

    @include tablet {
      grid-column: 1 span;
    }

    @include mobile {
      grid-column: 2 span;
    }

    .catalog-card__image {
      position: absolute;
      inset: 0;
      z-index: 1;
    }

    .catalog-card__body {
      align-items: flex-start;
      height: 150px;
      background-color: var(--color-dark-alt-semi);
      border-radius: var(--border-radius);
    }

    .catalog-card__title {
      color: var(--color-light);
    }

    .catalog-card__price {
      color: var(--color-light);
    }
  }

  &__image {

    img {
      border-radius: var(--border-radius);
      object-fit: cover;
      object-position: center;
    }
  }

  &__body {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: var(--gutter);

    @include mobile {
      padding: 10px;
    }
  }

  &__title {
    margin-bottom: 10px;
  }

  &__price {
    margin-bottom: 22px;
    font-size: 18px;
    font-weight: 700;
    color: var(--color-gray);
  }

  &__button {
    justify-content: center;
    margin-top: auto;
  }
}