.catalog {
  padding-block: var(--section-padding-y);

  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
  }

  &__header {
    display: flex;
    justify-content: center;
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--gap);

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mobile {
      gap: 10px;
    }
  }
}