<section class="catalog">
  <div class="catalog__inner container">
    <header class="catalog__header">
      <h2 class="catalog__title">Каталог</h2>
    </header>
    <div class="catalog__body">
      <article class="catalog__card catalog-card">
        <div class="catalog-card__image">
          <img
            src="./img/catalog/01.webp"
            loading="lazy"
          />
        </div>
        <div class="catalog-card__body">
          <h3 class="catalog-card__title">Велосипед BMX Tech Team Goof 20</h3>
          <span class="catalog-card__price">12 830 руб</span>
          <a class="catalog-card__button button" href="#!">Купить</a>
        </div>
      </article>
      <article class="catalog__card catalog-card">
        <div class="catalog-card__image">
          <img
            src="./img/catalog/02.webp"
            loading="lazy"
          />
        </div>
        <div class="catalog-card__body">
          <h3 class="catalog-card__title">Горный велосипед 29" TRINX</h3>
          <span class="catalog-card__price">13 884 руб</span>
          <a class="catalog-card__button button" href="#!">Купить</a>
        </div>
      </article>
      <article class="catalog__card catalog-card catalog-card--large">
        <div class="catalog-card__image">
          <img
            src="./img/catalog/03.webp"
            width="569"
            height="353"
            loading="lazy"
          />
        </div>
        <div class="catalog-card__body">
          <h3 class="catalog-card__title">Велосипед BMX Tech Team Goof 20</h3>
          <span class="catalog-card__price">12 830 руб</span>
          <a class="catalog-card__button button" href="#!">Купить</a>
        </div>
      </article>
      <article class="catalog__card catalog-card catalog-card--large">
        <div class="catalog-card__image">
          <img
            src="./img/catalog/04.webp"
            width="569"
            height="353"
            loading="lazy"
          />
        </div>
        <div class="catalog-card__body">
          <h3 class="catalog-card__title">Велосипед BMX Tech Team Goof 30</h3>
          <span class="catalog-card__price">14 700 руб</span>
          <a class="catalog-card__button button" href="#!">Купить</a>
        </div>
      </article>
      <article class="catalog__card catalog-card">
        <div class="catalog-card__image">
          <img
            src="./img/catalog/05.webp"
            loading="lazy"
          />
        </div>
        <div class="catalog-card__body">
          <h3 class="catalog-card__title">Шлем велосипедный VSH 25 full lime</h3>
          <span class="catalog-card__price">1244 руб</span>
          <a class="catalog-card__button button" href="#!">Купить</a>
        </div>
      </article>
      <article class="catalog__card catalog-card">
        <div class="catalog-card__image">
          <img
            src="./img/catalog/06.webp"
            loading="lazy"
          />
        </div>
        <div class="catalog-card__body">
          <h3 class="catalog-card__title">Велосипед RUSH HOUR XS 925</h3>
          <span class="catalog-card__price">12 830 руб</span>
          <a class="catalog-card__button button" href="#!">Купить</a>
        </div>
      </article>
    </div>
  </div>
</section>