<section class="feedback">
  <div class="feedback__inner container container--wide">
    <div class="feedback__image">
      <img
        src="./img/feedback/01.webp"
        width="756"
        height="255"
        alt="Велосипед на фоне моря"
        loading="lazy"
      />
    </div>
    <div class="feedback__body">
      <div class="feedback__content">
        <p class="feedback__description">
          Укажите номер телефона и мы с вам свяжемся для обсуждения заказа.
        </p>
        <form class="feedback__form feedback-form" id="form" autocomplete="off">
          <div class="feedback-form__field">
            <input
              class="feedback-form__input"
              id="tel"
              name="tel"
              type="tel"
              placeholder="Телефон"
              autocomplete="off"
            />
            <button
              class="feedback-form__button button button--small"
              type="submit"
            >
              Отправить
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>