<header class="header">
  <div class="header__inner container">
    <a class="header__logo header-logo" href="#!">
      <img
        class="logo__image"
        src="./img/logo.svg"
        alt="ВЕЛОSHOP Логотип"
        width="154"
        height="16"
        loading="lazy"
      />
    </a>
    <nav class="header__menu header-menu">
      <ul class="header-menu__list">
        <li class="header-menu__item">
          <a class="header-menu__link" href="#!">Каталог</a>
        </li>
        <li class="header-menu__item">
          <a class="header-menu__link" href="#!">Новинки</a>
        </li>
        <li class="header-menu__item">
          <a class="header-menu__link" href="#!">Заказать</a>
        </li>
        <li class="header-menu__item">
          <a class="header-menu__link" href="#!">Контакты</a>
        </li>
      </ul>
    </nav>
  </div>
</header>