<section class="hero">
  <div class="hero__inner container">
    <div class="hero__content">
      <h1 class="hero__title">Магазин велосипедов с&nbsp;самой быстрой доставкой</h1>
      <p class="hero__description">
        Закажите велосипед прямо сейчас и мы подарим вам отличную <a href="#!">каску</a>.
      </p>
      <a class="hero__button button button--large" href="#!">Выбрать велосипед</a>
    </div>
    <div class="hero__image">
      <img src="./img/hero/hero.svg" alt="Велосипедист" loading="lazy" />
    </div>
  </div>
</section>